@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

:root {
  --black-color: black;
  --white-color: white;
  --primary-font: "Libre Baskerville", serif;
  --grey-color: rgb(117, 117, 117);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#topBar {
  background-color: var(--black-color);
  height: 36px;
  text-align: right;
  font-size: 1.65rem;
  letter-spacing: 2.5px;
  padding-top: 2.5px;
  /*display: flex;
    justify-content: end;*/
}

#topBar a {
  font-style: var(--primary-font);
  color: var(--white-color);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 5px;
}

.flex {
  display: flex;
}

#header {
  padding: 0 1.25rem;
}

#header nav {
  justify-content: space-between;
}

#header .option-container {
  width: 40%;
}

#header .nav-left {
justify-content: space-between;
width: 100%;
margin-top: 0.5rem;
}

#header .nav-left li {
margin-left: 0.7rem;
font-size: 0.8rem;
font-weight: 500;
color: rgb(117, 117, 117);
font-family: helvetica, sans-serif;
letter-spacing: 1.1px;
}

.sign-up button {
background: #363636;
color: var(--white-color);
outline: none;
border: none;
border-radius: 20px;
padding: 0.3rem 0.7rem;
font-size: 1.1rem;
font-weight: 545;
letter-spacing: 1px;
cursor: pointer;
transition: all 0.3s ease-in-out;
transform: translateY(2px);
}

.sign-up button:hover {
background-color: var(--grey-color);
}

.sign-up input {
  width: 120px;
  height: 43px;
  border: 1px solid rgb(222, 222, 222);
  outline: none;
  padding: 0 0.3rem;
  font-size: 1rem;
  margin-left: 1.5rem;
}

.sign-up input:hover {
border: 1px solid rgb(54, 54, 54);
}
